/* Empty. Add your own CSS if you like */

/* Form Error Text */
.error-text{
	color:red;
	font-weight: light;
	font-style: italic;
}

.successCheck{
	color:#33cd5f;
	font-size: 30px;
	text-align: center;
}

.errorCross{
	color:#ef473a;
	font-size: 30px;
	text-align: center;
}

.textAlignCenter
{
	text-align: center;
}